.block-container{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.css-18ni7ap {
    height: 0px;
}

header[data-testid="stHeader"] {
	background : rgba(255, 255, 255, 0);
}

.stApp  {
    background-image: url("https://i.ibb.co/z2nyHnt/Untitled-design-1.png");
    background-size: cover;
}

p {
    font-size: 3rem;
}

.stButton {
    opacity: 1;
}

#question {
    font-family:'Courier New', Courier, monospace;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25%;
    font-size: 4vw;
    padding-top: 2%;
    height: 50vh;
    text-align: center;
}

#reveal_button{
    margin-top: -12%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7.5vw;
    background-color: rgb(255, 132, 132);
    text-align: center;
    transition: all 300ms;
    z-index: 1 !important;
}

#reveal_button:hover {
    opacity: 0;
}

#answer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.4vw;
    transition: width 2s linear;
    opacity: 1;
    text-align: center;
    background-color: greenyellow;
    transition: 0.3s opacity;
    z-index: -999 !important;
}

/* #answer:hover {
    opacity: 1;
} */

#help {
    padding-top: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}

#questions {
    padding-top: 10%;
    padding-bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}

#tribute {
    padding-top: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
}

a {
    pointer-events: none;
	display: none;
}

a:hover {
	opacity:0;
}

svg[xmlns="http://www.w3.org/2000/svg"] {
    display: none;
    pointer-events: none;
}